.footer {
    width: 99.2vw;
    text-align: center;
    margin-top: 50px;
    margin-bottom:0px;
    padding: 20px;
    height: 10vh;
    color: white;
    background-color:gray;
}
.footer-link {
    color: white;
}
.footer-link:hover {
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    background-color: rgb(0, 110, 255);
}

