<h1>Check the Facebook page:</h1>
<div style="text-align: center">
    <a href="https://www.facebook.com/Cure-With-Photos-104745891382845/" target="_blank">
        <img src="https://www.flaticon.com/svg/static/icons/svg/124/124010.svg" style="width: 5em; height:5em;">
    </a>
</div>
<br><br>
<h1>Join our comunity on Discord:</h1>
<div style="text-align: center">
    <a href="https://discord.com/channels/758053111502864616/758053112102780940" target="_blank">
        <img src="https://www.flaticon.com/svg/static/icons/svg/2111/2111370.svg" style="width: 5em; height:5em;">
    </a>
</div>
<br><br>
<h1>Or, just send me an email:<br></h1>
<h3>curewithphotos@gmail.com</h3>
