.right-title,
.right {
    float: right;
}
.right,
.left {
    margin: 30px 0px;
    width: 60vw;
    text-align: justify;
}
.left {
    float: left;
}

@media screen and (max-width: 750px) {
    .right-title,
    .right,
    .left {
        float: none;
        // width: 100%;
    }
}