<div class="left">
    <h1>How is this working?</h1>
</div>
<div class="right">
    <h4>As you can see, we have a lot of ads on website, sorry for this. But ads are very important.
        In background, this server is working very hard to run simulations that are helping scientist to
        cure some diseses. Basicly, science stufs ... <a href="https://foldingathome.org/diseases/">Here</a>
        you can find more about what are they doing and why is important to keep this website running so we can continue 
        to help the scientists. We are useing the money from ads to pay for server or even upgrade the server if this website
        is growing.
    </h4>
</div>
<div class="right-title">
    <h1>How do you know that this is legit?</h1>
</div>
<div class="left">
    <h5>I am trying to be as transparent as I can on <a href="https://www.facebook.com/Cure-With-Photos-104745891382845" target="_blank">website's Facebook page.</a>
        Hover, you might still think that I am mining Bitcoin or something, but you can see the results of server's work on <a routerLink="statistics">statistics page.</a>
        But I can fake that data, right? Fortunately, folding@home provide us data for each donor with a custom username, <a href="#">here</a> is our server. On this
        page you can find "Date of last Work Unit", so you can know if it's still active. If the last work unit was 1 day ago or even more recently, this means that the
        server is still active. You can also find the number of Work Units, so you can know how much processing power we use (<a href="https://foldingathome.org/faqs/fah-v7/v7-introduction/web-control/what-is-a-work-unit/"
        target="_blank">here</a> is everything you need to know about Work Units).<br> But wait... What if this website is legit and folding@home not? Fortunately, folding@home is 
        a very popular and old platform and they are supported by gigants like Microsoft,  AMD, Intel and so on. But just because they say that are supported by these gigants,
        dosen't mean that they are, right? Well, yes, but <a href="https://www.youtube.com/watch?v=obKN2YmBjfE" target="_blank">here</a> is Satya Nadella (CEO Microsoft), talking about
        folding@home, or <a href="https://www.youtube.com/watch?v=WRv2EP1PDoo" tarket="_blank">here</a> is Huang Jensen (CEO Nvdia) talking about folding@home. But this still can be deep fake, so 
        <a href="https://search.wustl.edu/s/search.html?collection=wustl-search&profile=_default&f.Tabs%7Cwustl-news-recent-web%2Cwustl-people-ldap%2Cwustl-news-full-web%2Cwustl-medicine-web%2Cwustl-main-web%2Cwustl-library-web=All+Results&query=%22folding%40home%22" target="_blank">
        here</a> are some articles form Washington University in St. Louis about folding@home.
    </h5>
</div>
<div class="left">
    <h1>How you can help:</h1>
</div>
<div class="right">
    <h4>
        It would be greate if you could save this page and come here at last once a day and see a photo. In this way you generate some money from ads, and we can pay for server
        or even upgrate it.<br>
        You can also upload a picture and share it, so we can grow the collection and also get new users.<br>
        If you have a website, add folding@home to your server. For Linux, <a href="https://foldingathome.org/faqs/installation-guides/linux/manual-installation-optional-advanced/terminal-installation-for-debian-mint-ubuntu/"
        target="_blank">here</a> is a link. If you have problems with instalation, send me an email.
        If you want, you can become a donor and donate your unused power from your PC, you can find a link <a href="https://foldingathome.org/" target="_blank" >here</a> at the buttom of the page.
        After instalation open <a href="https://client.foldingathome.org/">this</a> and you should see a control page.
        Advice: if you have a slow PC and try to use "medium" or "light" as power option. And if even on low your PC is still very slow, set it back on "full" and use "only when ide". 
        In this way your PC is going to work only when you are not useing it. So just don't close it and when you are not at PC, you help the science.<br>
        If you want, you can donate. Please check <a routerLink="donate">this</a> page if you are intersted.<br>
        And, you can also contribute to the code of this website, but if you want, you can even use it because is opensource.<br>
    </h4>
</div>
<div class="right-title">
    <h1>10% from revenue to nature <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-tree-fill" fill="green" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 0a.5.5 0 0 1 .416.223l3 4.5A.5.5 0 0 1 11 5.5h-.098l2.022 3.235a.5.5 0 0 1-.424.765h-.191l1.638 3.276a.5.5 0 0 1-.447.724h-11a.5.5 0 0 1-.447-.724L3.69 9.5H3.5a.5.5 0 0 1-.424-.765L5.098 5.5H5a.5.5 0 0 1-.416-.777l3-4.5A.5.5 0 0 1 8 0z"/>
        <path d="M7 13.5h2V16H7v-2.5z"/>
      </svg></h1>
</div>
<div class="left">
    <h5>
        For every 100€, 10€ are going for planting trees. A tree cost about 2€ and I am going to post the proof of donation and also of plantation of that tree on 
        <a href="https://www.facebook.com/Cure-With-Photos-104745891382845/"target="_blank">Facebook page.</a><br><br>
        <h4><b>But why is this important?</b></h4><br>
        We generate a lot of CO2 with our server, and I think is important not just to be carbon neutral, but also help a little and absorb some CO2.
    </h5>
</div>