<h1 style="color: rgba(255, 0, 0, 0.7)">Hey ... I know .. Ads sucks :(</h1>
<hr>
<h3>But I realy need you to see the ads. The main reason of this website are not the pictures,
    I am useing the website to do in background simulations for folding@home. To keep it running
    I need ads to pay for the server. These simulations are very important for science because are
    hellping the scientists to finde a cure for diffrent disease. So please disable your adblock, 
    reload the page and make the world a better place.<br><br>
    More informations about this on <a routerLink="">home page</a>, it's an ad free place, I promise!
</h3>