/* You can add global styles to this file, and also import other style files */
h1,h2,h3,h4,h5,p{
    font-family: Catamaran;
    font-weight: 800!important;
    color: rgb(51, 51, 51);
}

a {
    text-decoration: none;
    /* color:black; */
}

.mobile {
    display: none;
}

@media screen and (max-width: 991px) {
    .mobile {
        display:flex;
    }
    
}
@media screen and (max-width: 644px) {
    h1,h2,h3,h4,h5,p{
        font-size: x-large;
    }
    
}

@media screen and (max-width: 657px) {
    h1,h2,h3,h4,h5,p{
        font-size: large;
    }
    
}

@media screen and (max-width: 350px) {
    h1,h2,h3,h4,h5,p{
        font-size: small;
    }
    
}