<h2>Things that you can donate...</h2>
<hr>
<h2><b>Your skills</b></h2>
<h5>If you can contribuite to the code, it's perfect! I did my best to do it right
    but there are still a lot of problems and I still have a lot to learn, so if you found a bug or you can improve the website in any way
    it's perfect.If you need, you can also use the code :)<br><br>
    If you don't know to code but you have talent for design, you can make this website better. <br><br>
    Or you can just correct any text from this website, english is not my first language and I made a lot of mistakes... <br><br>
</h5>
<h2><b>Your processing power</b></h2>
<h5>Would be great if you could add your PC to folding@home network. In this way you would help a lot without even realise that.
    Visit <a href="https://foldingathome.org/" target="_blank">this page</a> if you want to start. <br><br>
</h5>
<h2><b>Make your own server</b></h2>
<h5>You don't really have to donate direct to this website, you can make you own server (Linux), and install folding@home there. It's not hard
    at all and if you have any problem with instalation, just send me an e-mail. Also, you can start a free trial. Here are some exemples: Google Cloud,
    AWS and Alibaba. <br><br>

</h5>
<h2><b>Become a patrion</b></h2>
<h5>You can become a patrion and for every 5,55€ I am going to add a new CPU for a month. 5,05€ is the cost of a CPU/ month and 0,5€ is 10% that we
     have to donate for trees.<br>

</h5>
